<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/tailwindclases.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="">
        <div class="bg-orange">
            <nav></nav>
        </div>
        <main>
            <div class="bg-white">
                <div class="bg-white-100">
                    <div class="w-full text-black bg-main-color">
                        <div class="p-4 flex flex-row items-center justify-between">
                            <a href="#"
                                class="text-lg font-semibold tracking-widest uppercase rounded-lg focus:outline-none focus:shadow-outline">Detalle licencia
                            </a>
                        </div>
                    </div>
                </div>

                <section class="container px-4 mx-auto">
                    <table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
                        <tr class="text-left border-b-2 border-gray-300">
                            <th class="px-4 py-3">Tipo Clase</th>
                            <th class="px-4 py-3">Vehiculo</th>
                            <th class="px-4 py-3">Tipo Licencia</th>
                            <th class="px-4 py-3">Trasmision</th>
            
                        </tr>
            
                        <tr class="bg-gray-100 border-b border-gray-200">
                            <td class="px-4 py-3">43 CLASES</td>
                            <td class="px-4 py-3">PICK UP
                            </td>
                            <td class="px-4 py-3">LIVIANA</td>
                            <td class="px-4 py-3">MANUAL</td>
                        </tr>
                    </table>
                </section>
        </main>

    </div>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br>
    <div class="bg-">
        <footer
            class="overflow-x-auto bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
        </footer>
    </div>
    
</body>


<script src="https://cdn.tailwindcss.com"></script>
<script src="https://flowbite.com/docs/getting-started/introduction/"></script>
<script src="../path/to/flowbite/dist/flowbite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>

<script type="text/javascript" src="../../controllers/publico/plantilla.js"></script>

</html>