<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/resource/css/tailwildclases.css">
    <title>Login</title>
</head>

<body>
    <div class="grid grid-row-3 ">
        <div class="bg-gray">
            <nav class="bg-white px-2 sm:px-4 py-2.5 dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600"></nav>
        </div>
        <div class="bg-gray-400">
            <main>
                <!-- component -->
                <div class="font-sans">
                    <div class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-100 ">
                        <div class="relative sm:max-w-sm w-full">
                            <div
                                class="card bg-teal-400 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6">
                            </div>
                            <div
                                class="card bg-red-400 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6">
                            </div>
                            <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                                <label for="" class="block mt-5 text-xl text-gray-700 text-center font-bold">
                                    Inicio de sesión
                                </label>
                                <form method="#" action="#" class="mt-10">

                                    <div>
                                        <input type="email" placeholder="Correo electrónico"
                                            class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
                                    </div>
                                    <div class="mt-7">
                                        <input type="password" placeholder="Contraseña"
                                            class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
                                    </div>


                                    <div class="mt-7">
                                        <button
                                            class="bg-teal-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                            <a href="index.html">Inisiar sesión</a>
                                        </button>
                                    </div>
                                    <div class="mt-7">
                                        <div class="flex justify-center items-center">
                                            <label class="mr-2">¿No tienes una cuenta?</label>
                                            <a href="registrar_cuenta.html"
                                                class=" text-blue-500 transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                                Crear aquí
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </main>

        </div>
        <div class="bg-gray-400">
            <footer  class="overflow-x-auto bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800"></footer>
        </div>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://flowbite.com/docs/getting-started/introduction/"></script>
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
    <script type="text/javascript" src="../../controllers/publico/plantilla.js"></script>
</body>



</html>